body{
text-align: center;
width: 100%;
	height: 100%;
font-family: 'Shadows Into Light', cursive;
}
h1{
	font-size: 90px;
color: #B2B8A3;
font-family: 'Bebas Neue', cursive;
}
h2{
	font-size: 50px;
color: #FFA900;
font-family: 'Dancing Script', cursive;
}
h3{
font-family: 'Dancing Script', cursive;
font-size: 45px;
}
p{
	font-size: 45px;
}
.top{
padding:200px;
background:#FFF5EB;
margin: 0px;
}
.phuto2{
	width: 500px;
}
.animated{
	display: inline-block;
}
.middle{
padding: 200px;
background:#DEEDF0 ;
margin: 0px;
}
.bottom{
padding: 200px;
background:#F4C7AB ;
margin: 0px;
}
.info{
	padding: 50px;
	background:#FCDEC0;
}
.phuto{
	width: 300px;
}
hr{
	width: 20%;
}
.btn {
  font-family: Georgia;
  color: #ffffff;
  font-size: 21px;
  background: #FFA900;
  border-color:#FFA900 ;
  padding: 20px 20px 20px 20px;
  text-decoration: none;
}
.bodyd{
	background: #DBF6E9;
	text-align: center;
	width: 100%;
	height: 100%;
	font-family: 'Shadows Into Light', cursive;
}

.btn:hover {
  background: #F4C7AB;
  text-decoration: none;
}

.main{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.division{
	background: whitesmoke;
	border-width: 0px;
	margin: 0;
	width:40vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	
}
.art{
	width: 30vw;
	height: auto;
	margin: 50px;
}